<p>book-detail works!</p>

<mat-card class="example-card" *ngIf="book">

  <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  <mat-card-subtitle>ISBN: {{book.isbn}}</mat-card-subtitle>

  <mat-card-title>Book {{book.id}}: {{book.title}}</mat-card-title>
  <mat-card-content>
    <p><strong>Año de publicación: </strong> {{book.releaseYear}}</p>
  </mat-card-content>


  <mat-divider inset></mat-divider>
  <mat-card-content>
    <p><strong>Precio: </strong> {{book.price}} €</p>
  </mat-card-content>

  <mat-card-content *ngIf="book.author">
    <p><strong>Autor: </strong> {{book.author.fullName}}</p>
  </mat-card-content>

  <mat-card-content *ngIf="book.categories">
    <p>
      <strong>Categorias: </strong>
      <span *ngFor="let cat of book.categories">
        <button mat-button color="accent">{{cat.name}}</button>
      </span>
    </p>
  </mat-card-content>

  <mat-card-content>
    <p>{{book.description}}</p>
  </mat-card-content>

  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/books', book.id, 'edit']">Editar</button>
    <button mat-raised-button color="warn" (click)="onDelete(book.id)">Borrar</button>
    <button mat-raised-button routerLink="/books">Volver</button>
  </mat-card-actions>

  <mat-card-footer>
    <small>Fecha pulicación: 20/10/2022</small>
  </mat-card-footer>
</mat-card>
<mat-card class="example-card" *ngIf="!book">
  <mat-card-content>
    <p>Loading book...</p>
  </mat-card-content>
</mat-card>
