<a routerLink="/book-list">Listado de libros</a>
<a routerLink="/book-detail">Detalle de un libro</a>
<router-outlet></router-outlet>


<h1>Aplicación Angular</h1>
<h3> Encabezado nivel 3</h3>
<p>{{title}}</p>
<button mat-raised-button color="primary">Primary</button>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary" (click)="hello()">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>




