<p>book-list works!</p>
<table mat-table [dataSource]="books" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Identifier </th>
    <td mat-cell *matCellDef="let book"> {{book.id}} </td>
  </ng-container>

  <ng-container matColumnDef="isbn">
    <th mat-header-cell *matHeaderCellDef> ISBN </th>
    <td mat-cell *matCellDef="let book"> {{book.isbn}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let book"> {{book.title}} </td>
  </ng-container>

  <ng-container matColumnDef="releaseYear">
    <th mat-header-cell *matHeaderCellDef> Release Year </th>
    <td mat-cell *matCellDef="let book"> {{book.releaseYear}}€ </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let book"> {{book.price}}€ </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let book" color="primary">

      <button mat-icon-button color="primary" (click)="onDelete(book.id)">
        Delete <mat-icon>delete_forever</mat-icon>
      </button>
      <button mat-icon-button color="primary"  [routerLink]="['/books', book.id, 'detail']">
        See <mat-icon>visibility</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>
