<h2 *ngIf="isEdit">Actualizar nuevo libro</h2>
<h2 *ngIf="!isEdit">Crear nuevo libro</h2>
<mat-card *ngIf="error">
  ERROR: Se ha productido un error, intentalo de nuevo mas tarde.
</mat-card>

<form class="example-form" [formGroup]="editForm" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput placeholder="3" type="number" formControlName="id">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre completo</mat-label>
    <input matInput placeholder="Dave Davidson" formControlName="fullName">

    <mat-error *ngIf="editForm.get('fullName')!.invalid && (editForm.get('fullName')!.dirty || (editForm.get('fullName')!.touched))">
      <span *ngIf="editForm.get('fullName')!.getError('required')">Nombre obligatorio</span>
      <span *ngIf="editForm.get('fullName')!.getError('minlength') ||editForm.get('fullName')!.getError('maxlength')">Nombre entre 5 y 50 caracteres</span>
    </mat-error>

  </mat-form-field>



  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="dave@mail.co" formControlName="email">

    <mat-error *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || (editForm.get('email')!.touched))">
      <span *ngIf="editForm.get('email')!.getError('required')">Email obligatorio</span>
      <span *ngIf="editForm.get('email')!.getError('email')">Email debe tener el formato correcto</span>
      <span *ngIf="editForm.get('email')!.getError('maxlength')">Email inferior a 50 caracteres</span>
    </mat-error>

  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Salario</mat-label>
    <input matInput placeholder="1500 €" type="number" formControlName="salary">

    <mat-error *ngIf="editForm.get('salary')!.invalid && (editForm.get('salary')!.dirty || (editForm.get('salary')!.touched))">
      <span *ngIf="editForm.get('salary')!.getError('min') || editForm.get('salary')!.getError('max')">Salario debe estar en rango 1000 - 8000</span>
      <span *ngIf="editForm.get('salary')!.getError('pattern')">Salario solo puede contener números</span>
    </mat-error>

  </mat-form-field>



  <!--<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Fecha nacimiento</mat-label>
    <input matInput placeholder="2000-10-10" formControlName="birthDate">
  </mat-form-field>-->


  <mat-form-field appearance="fill">
    <mat-label>Fecha nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>



  <!-- Address -->
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Id dirección</mat-label>
    <input matInput placeholder="2000/10/10" formControlName="idAddress">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ciudad</mat-label>
    <input matInput placeholder="Madrid" formControlName="city">
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Calle</mat-label>
    <input matInput placeholder="C/ del Sol 19 1º" formControlName="street">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-raised-button color="warn" routerLink="/books">Cancelar</button>
</form>
