<h2>Crear nuevo libro</h2>
<mat-card *ngIf="error">
  ERROR: Se ha productido un error, intentalo de nuevo mas tarde.
</mat-card>

<form class="example-form" [formGroup]="editForm" (ngSubmit)="save()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput placeholder="3" type="number" formControlName="id">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre completo</mat-label>
    <input matInput placeholder="Dave Davidson" formControlName="fullName">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="dave@mail.co" formControlName="email">
  </mat-form-field>

  <!-- Address -->


  <button mat-raised-button color="primary" type="submit">Guardar</button>
  <button mat-raised-button color="warn" routerLink="/books">Cancelar</button>
</form>
